.sortButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  background-color: rgb(164, 181, 206);
  margin-bottom: 20px;
}

.title {
  margin: 10px 0;
}

.filters {
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.searchRandom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
  background-color: rgb(164, 181, 206);
  margin-bottom: 30px;
}

.searchInput {
  padding: 12px;
  border-radius: 10px;
  width: 250px;
  border: 1px solid grey;
}

.hidden {
  display: none;
}

.countryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.countryName {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.806);
  border-radius: 10px;
  border: 1px solid rgb(164, 181, 206);
  box-shadow: 2px 2px 5px black;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.countryName h2 {
  color: black;
  margin-bottom: 10px;
  font-weight: 400;
  text-shadow: 0 0 10px white;
}

.countryName img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

button {
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 0.6em 1.2em;
  max-height: 42px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:rgba(255, 255, 255, 0.747);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
button:hover {
  box-shadow: 0 0 5px grey;
  background-color: rgb(255, 255, 255);
  color: rgb(85, 129, 194)
}


@media only screen and (max-width: 800px) {
  .filters {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .filters > div {
    margin: 0 auto;
  }
}